<!-- <div class="bkgimg">
  <div class="flex-container">

    <form>

      <p class="text-center">
        <img class="login-logo" src="assets/images/zekes-logo.png">
      </p>

      <h2 class="spaceFromTop">Welcome, Adventurer</h2>

      <div class="alert alert-danger" role="alert" *ngIf="showError">
        <strong>{{errormessage}}</strong>
      </div>
      <div class="alert alert-warning" role="alert" *ngIf="showInfo">
        <strong>{{infomessage}}</strong>
      </div>


      <input pInputText [(ngModel)]="email" name="email" class="form-control" id="inputEmail" placeholder="email" width="25" maxlength="50">


      <input pInputText [(ngModel)]="password" type="password" name="password" class="form-control" id="inputPassword" placeholder="password"
        maxlength="20">


      <button (click)="login()" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button" style="">
        <span class="ui-button-text">Login</span>
      </button>

      <button (click)="forgotPassword()" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button"
        style="">
        <span class="ui-button-text">Forgot Password</span>
      </button>

      <button (click)="register()" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button"
        style="">
        <span class="ui-button-text">Register</span>
      </button>

      <div class="ui-g">

      </div>

    </form>
  </div>
</div> -->

<!-- <html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Yellowtail" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://use.typekit.net/rjb4unc.js"></script>
    
</head> -->

<div id="body">
    
    <div class="container">
        <h1 class="title">Damper Dan</h1>
        <div class="logo">
            <h3>Damper Dan Login</h3>
        </div>
        <div class="login-item">
            <form action="" method="post" class="form form-login">
                <div class="form-field">
                    <label class="user" for="login-username">
                        <span class="hidden">Username</span>
                    </label>
                    <input id="login-username" type="text" class="form-input" placeholder="Username" required="">
                </div>

                <div class="form-field">
                    <label class="lock" for="login-password">
                        <span class="hidden">Password</span>
                    </label>
                    <input id="login-password" type="password" class="form-input" placeholder="Password" required="">
                </div>

                <div class="form-field">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>
    
    <script src="https://use.typekit.net/rjb4unc.js"></script>
    

